.chat{
  display: flex;
  flex-direction: column;
  align-items: center;
  .at-list__item--thumb .item-thumb {
    margin-right:24rpx;
    width:36Px;
    height:36Px;
    image {
      display:inline-block;
      overflow:hidden;
      border-radius: 4Px;
    }
  }
  .at-list__item-content {
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    -webkit-box-flex:1;
    overflow:hidden;
    margin-right:0rpx;
  }

  .at-list__item-extra {
    -webkit-flex:0 0 105rpx;
    -ms-flex:0 0 105rpx;
    flex:0 0 105rpx;
    -webkit-box-flex:0;
    width:235rpx;
    text-align:right;
  }


}
