.chat{
  display: flex;
  flex-direction: column;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  .add_chat {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    Image {
      width: 100px!important;
      height: 100px!important;
    }
  }
}
.chat_icon{
  width: 100px!important;
  height: 100px!important;
}

.comment-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  .chat_title {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    width: 710px;
    margin-top: 20px;
    background-color: #fff;
    border: 1Px #D6E4EF solid;
  }

  .input_title {
    background-color: #fff;
    margin: 0 20px;
  }

  .chat_comment {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    width: 710px;
    margin-top: 20px;
  }

  .input_comment {
    background-color: #fff;
    width: 100%;
  }

  .submit {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    color: #fff;
    width: 710px;
    margin-top: 40px;
    background-color: #D64337;
    height: 88px;
    border-radius: 10px;
  }
}
