.content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
}

.info_view {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;

  .avatar {
    margin-left: 20px;
  }

  .text_view {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    .username {
      color: #333333;
      font-size: 32px;
    }

    .time {
      margin-top: 20px;
      color: #7f7f7f;
      font-size: 30px;
    }
  }
}

.markdown {
  display: flex;
  flex-direction: column;
  width: 710px;
  background-color: #fff;
  margin: 0 auto;
  .md {
    margin: 10px auto;
    padding: 0 20px;
    width: 670px;
  }
}
